chien.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="chien">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nom" type="xsd:string"></xsd:element>
        <xsd:element name="maitre" type="personne"></xsd:element>
        <xsd:element name="puces" type="xsd:int"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="personne">
    <xsd:sequence>
      <xsd:element name="nom" type="xsd:string"></xsd:element>
      <xsd:element name="adresse" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema> 