station.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <!-- XML Schema Generated from XML Document on Thu Oct 26 2017 15:55:31 GMT+0200 (Paris, Madrid (heure d’été)) -->
      <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
      <xs:element name="station">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="available" type="xs:int"></xs:element>
                        <xs:element name="free" type="xs:int"></xs:element>
                        <xs:element name="total" type="xs:int"></xs:element>
                        <xs:element name="ticket" type="xs:int"></xs:element>
                        <xs:element name="open" type="xs:int"></xs:element>
                        <xs:element name="updated" type="xs:int"></xs:element>
                        <xs:element name="connected" type="xs:int"></xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>